@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,900);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);


.center {
	text-align: center;
}

.navbar-default {
	background: #fff;
	margin-bottom: 0;
}
#main-feature {
	padding: 100px 0;
	min-height: 400px;
	background: #FF3B47;
}
#main-feature h1 {
	text-transform: uppercase;
	margin-bottom: 52px;
	font-size: 38px;
	color: #fff;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 900;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#hello .btn-default {
	padding: 10px 20px;
	border: 1px solid #fff;
	background: none;
	color: #fff;
	border-radius: 0;
}